{{>headerUser}}

<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h2>{{products.tenSanPham}}</h2>
                    <img src="{{products.image}}" class="card-img-top" alt="{{products.image}}">
            <p>{{products.moTaChiTiet}}</p>
        </div>
        <div class="col-lg-3">
            <button> Mua ngay</button>
        </div>
    </div>
</div>